.ul {
    display: inline-block;
}
 .form-group{
     margin-left: 50px;
     margin-right: 50px;
     margin-top: 20px;
 }
 .gilo{
     
     margin-top: 10px;
     text-align: center;
     font-size: 20px;
 }
 .btn-1{
     width: 50%;
     margin-left: 100px;
     border: black solid;

 }
 .contenedor {
    text-align: center;
    margin: auto;
    border: black;
 }

 .card-body {
    display: inline-block !important;
    margin-left: 8%;
    width: 80%;
    border: black solid;
    
    
}
.hola{
    display: inline-block;
}
.titulo_4{
    text-align: center;
    margin-bottom: 15px;
}
.card-img-1{
    margin-left: 30px;
    height: 10%;
    width: 80%;
}
.btn-6{
    margin-left: 25px;
    width: 80%;
    margin-top: 20px;
    border-bottom: black solid;
}
.btn-15{
    margin-left: 25px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 100px;
    border-bottom: black solid;

}
.btn-60{
    margin-left: 25px;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 50px;
    border-bottom: black solid;
    
}
.img-70{
    margin-left: 90px;
    
}
.hijo {
    text-align: center;
    margin-left: 15px;
}
.card-img-2{
    margin-left: 30px;
    height: 10%;
    width: 80%;
    
}
.card-img-10{
    margin-left: 15px;
    height: 90%;
    width: 100%;
    margin-top: 100px;
}

.card-text{
    margin: 5px;
     font-size: 15px;
     text-align: left;

}
.card-text-1{
    margin: 25px;
     font-size: 40px;
     text-align: justify;
}

.card-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 .btn-2{
     width: 50%;
     margin-left: 100px;
     margin-top: 25px;
     border: black solid;

 }

.btn-3{
    width: 50%;
    margin-left: 100px;
    margin-top: 50px;
    border: black solid;

}
.container{
    
    width:100%;
    height:120px;
    background-color:black;
}

.btn-83{
    width: 25%;
    margin-left: 50px;
    margin-right: 70px;
    margin-top: 20px;
    border: black solid;
}
.btn-87 {
    width: 25%;
    margin-top: 20px;
    margin-left: 30%;
    border: black solid;
}
.btn-84{
    width: 60%;
    margin-top: 20px;
    border: black solid;
}
.btn-4{
    width: 50%;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 5%;
    border: black solid;
}
.btn-5{
    width: 30%;
    margin-left: 240px;
    margin-top: 25px;
    margin-bottom: 5px;
    border: black solid;
}
.btn-50{
    width: 40%;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    border: black solid;
}
.img-80{
    margin-bottom: 15%;
    width: 100%;
}
.img-81{
    width: 100%;
    margin-top: 15%;

}
.btn-group{
    margin-left: 30px;
    margin-right: 30px;
    width: 80%;
    border: black solid;

}
.cuerpo{
    background-color:  #ffb366;
    height:  10000%;
   

}
.btn-51{
    width: 30%;
    margin-top: 15px;
    margin-left: 50px;
    border: black solid;
}
.btn-52{
    width: 60%;
    margin-bottom: 15%;
    margin-left: 50px;
    margin-top: 15px;
    margin-right: 50px;
    border: black solid;   
}

.despegable{
    width: 50%;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 150px;
    border: black solid;

}

.img-hola{
    width: 100%;
    margin-top: 150px;
}
.card-img-top-18{
    margin-left: 80px;
    margin-top: 10px;
    height: 25%;
    width: 50%;
}
.img-30{
    margin-left: 20px;
    margin-top: 20px;
}
.row-1{
    margin-top: 15px;
}
.row-2{
    margin-top: 15px;
}
.card-img-top-1{
    margin-left: 30px;
    height: 10%;
    width: 80%;
    }
.tabla{
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
 
  }
  .parrafo{
      margin-right: 20px;
      text-align: justify;
  }
  .titulo{
      text-align: center;
  }
  .fila-1{
      border: solid black;
      text-align: center;
  }
  .columna-2{
      margin-top: 50px;
      
     
      
  }
    .card-img-top-2{
        margin-left: 40px;
        margin-top: 15px;
        height: 20%;
        width: 80%;
        }
           
.pilo{
    margin-left: 5px;
    margin-right: 5px;
}
 .card-body-1{
     margin-left: 10px;
     border: solid black;
 }   

.img-25{
    width: 100%;
    height: 400px;
}
.img-20{
    width: 100%;
    height: 400px;
    margin-top: 25px;
}

.img-2{
    margin-left: 40px;
    margin-top: 15px;
    width: 80%;
    height: 800%;
}
.img-1{
    margin-left: 100px;
    margin-top: 15px;
    margin-right: 200px;
    width: 50%;
    height: 400%;
}

.bienvenidos{
    margin-left: 50px;
    margin-top: 25px;
    margin-right: 10%;
    margin-bottom: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 31.2px;
}
.bienvenidos-1{
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 90px;
    margin-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 31.2px;
}

.Tarjetas {
    text-align: center;
    margin: auto;

 }

 .img{
     width: 50%;
 }
 .polo{
     width: 90%;
     height: 250px;
     margin-top: 25px;
     margin-left: 25px;
     margin-bottom: 10%;
 }
 .titulo_1{
     margin: 20px;
     text-align: center;
 }
 .titulo_2{
     margin: 10px;
     text-align: center;
 }
 .texto_2{
     margin: 20px;
     font-size: 20px;
     text-align: justify;
 }
 .texto{
     margin: 20px;
     font-size: 20px;
     text-align: justify;
 }
 .img-45{
     width: 25%;
     margin-left: 275px;

    
 }

 






